<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>HfSuJhQxBRNMXQQlo2rPVegLS8cUs7PXuW2NgrXmcv9IFrtX4R6gQGSFOIYV7RNJl6tnlpLjveO5HVQtonJ3rk1aHjuxWYe5d2sCt7o0x8YbADItxznVxaUDpRke1g9t38OS5wbJBpn3peLGahLNaBTLUqtBTY91oP1aZyOOaMIkUDR+XIRkT1iwuRtSCtOajilDFi8Uj8IgkYXnLtlVKQYj3toNKTmApOsUzNkeUkBst/dIGg8BS3u1sJ+3ifO7l3Ordyjni/Flhn3qd5aRI28gS3J8g0Jq/tdByxfoCvFoCRO7Q391duOZLJbPLqssLWNL4qTxjGGpuC/kkwx35Q==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>rQ76HxmD/ZYWz/n+x9lvAtmsadAzm0+pcQBfBe2XhEysTbF6d5IB1KfV57Y1it8WOg+xedxoEmqp7eZxpilnkRDrYSphzAK8pK0OTBXdhLCtCAO624FAtVpSC97nRqqUKuf6pExHpUXIMe0r9wqb+N04DT5g6iJ1531TAPiFWPr3t8+nPM4aP6QSEpp+rubybklKxyRdhR2RGeieUUqSh9uUiWfkEp5iVa6W5tdwXwY0jtbmGCpOpHHcTyijxR3BlzuguqwK13RBlRprZLV8CXiIiRSvCjP3Vy3kOrGlMkd00Jm9bg0Zag==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>